.pearlsWrapper  {
    width: auto;
    /* overflow: scroll; */
}

svg {
    display: block;
}

.puzzleIndices  {
    font-size: 0.9rem;
    font-family:'Courier New', Courier, monospace;
    color: #959595;
}

.annotationText {
    font-size: 0.9rem;
    color: #959595;
}

.pearlsHeader   {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidewaysPreview    {
    display: none;
}

.currentView    {
    display: none;
}

.mistakes   {
    background-color: #502C05;
    color: white;
    padding: 0 0.25rem 0 0.25rem;
}

@media (max-width: 768px) {
    .pearlsWrapper  {
        width: 100%;
        overflow: auto;
    }

    #stringOfTimesSVG {
        width: 975px;
        height: 580px;
        min-width: 100%;
    }

    .pearlsHeader   {
        display: block;
    }

    .sidewaysPreview    {
        display: block;
        position: absolute;
        background-color: black;
        background-image: url('../../data/sidewaysPreview.png');
        background-size: contain;
        left: 150px;
        bottom: 20px;
        width: 125px;
        height: 75px;
        opacity: .75;
    }

    .currentView   {
        display: block;
        position: relative;
        border: 2px #4e4e4e solid;
        width: 40px;
        height: 75px;
    }
}