.doks_grid  {
    outline: 2px solid black;
    max-width: 80%;
    max-height: 80%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    margin: auto auto 2rem auto;
    /* flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start; */
}

@media (min-width: 768px) {
    .doks_grid  {
        max-width: 70%;
        max-height: 70%;
    }
}

.grid__cell {
    /* position: relative; */
    /* display: flex;
    flex-wrap: wrap; */
    border: 1px solid #9c9c9c;
    border-right: none;
    border-bottom: none;
    aspect-ratio: 1/1;
    /* width: calc(100% / 3 - 1px);
    height: calc(100% / 3 - 1px); */
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
    font-family: monospace;
}

.grid__cell > p {
    display: none;
    margin: auto;
}

.grid__cell.active > p  {
    display: block;
    margin: auto;
    color: #000000;
}

.grid__cell.neighbor > p  {
    display: block;
    color: #9c9c9c;
}

.grid__cell:nth-child(3n)  {
    border-right: 2px solid black;
  }

/* left border of first column */
.grid__cell:nth-child(9n+1)  {
    border-left: 2px solid black;
}

/* top row */
.grid__cell:nth-child(-n+9)  {
    border-top: 2px solid black;
}

/* bottom border of every 3rd row */
.grid__cell:nth-child(n + 19):nth-child(-n + 27),
.grid__cell:nth-child(n + 46):nth-child(-n + 54),
.grid__cell:nth-child(n + 73):nth-child(-n + 81)  {
    border-bottom: 2px solid black;
}
