.radioToggles {
  position: relative;
  display: flex;
  background: var(--lemon_-2);
  color: var(--lemon_2);
  border: 1px solid lightgrey;
  justify-content: right;
  margin: 20px 0px;
  width: fit-content;
  overflow: hidden;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: var(--lemon_-2);
  background-color: var(--lemon_2);
  font-weight: bold;
}

label {
  cursor: pointer;
  padding: 5px 20px;
  margin: 0px;
  text-align: center;
  width: auto;
  /* z-index: 2; */
}

figure  {
  width: 80%;
}