.entireScrolly  {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 1rem; */
    margin: 5vh 0 0 0;
    padding-top: 2rem;
}

figure {
    display: flex;
    flex-basis: 54%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    align-items: center;
    justify-content: center;
}

article {
    flex-basis: 46%;
}

.scrollyCard   {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--default-text);
    opacity: 1;
    margin-bottom: 75%;
    margin-top: 40%;
    z-index: 1;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    figure  {
        /* display: block; */
        flex-basis: 100%;
    }

    article {
        position: relative;
        flex-basis: 85%;
    }
}